@reference "tailwindcss/theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    rounded-xl
    shadow-md hover: shadow-lg transition-shadow duration-300 ease-in-out
}

body {
@apply bg-gray-50;
}