@reference "tailwindcss/theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @scroll-behavior: smooth;
}

body {
    @apply bg-white shadow-md rounded-xl p-6;
    @apply hover:shadow-lg
}